
/* 
==========================================
Formatações gerais 
*/
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background-color: #ffff;
  
}

a {
  text-decoration: none;
}

a.ver-mais {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px 50px 5px;
  background: black;
  color: white;
  margin-left: 40%;
}

.resto_dos_titulos {
 text-align: center; 
}



/* 
==========================================
Formatações do menu de navegação 
*/
nav {
  position: fixed;
  top: 0px;
  background: rgba(0,0,0,.6);
  width: 100%;
  z-index: 10;
}

nav img {
  padding: 40px;
}

ul#navegacao {
  list-style: none;
  float: right;
  padding: 40px;
  margin: 0;
}

.menu a {
  font-size: 18px;
  color: grey;
}

.menu a:hover {
  color: white;
}

nav ul li { 
  display: inline;
  padding-right: 20px;
  
}

#ultimo {
 margin-right: 50px; 
}
/* 
==========================================
Formatações do cabeçalho 
*/
header {
  background-image: url("https://cdn.glitch.com/ae3dc6e7-a56a-4b8d-a6c2-6380127472f4%2Fbanner.jpg?1522797817548");
  text-align: center;
  height: 100vh;
  background-size: cover;
  background-color: rgba(10,10,10,.5);
  background-blend-mode: color-burn;
  margin-bottom: 70px;
}

#header-img {
  max-width:100%;
  height: auto;
  padding: 5px;
}

header h1 {
  color: white;
  font-size: 52px;
  text-shadow: 2px 2px 2px black;
  padding-top: 350px;
  margin-top: 0;
}

header a {
  color: white;
  border: 1px solid white;
  padding: 10px 30px 10px;
  font-size: 30px;
}

/* 
==========================================
Formatação dos tópicos 
*/
article {
  background: white;
}

article p {
  float: right; 
}

section {
  padding: 10px;
}

section h2 {
  color: #F16529;
  font-size: 35px;
  letter-spacing: 10px;
  
}

section#trainee p {
 text-align: right;
  font-size: 10pt;
}

#trainee {
  overflow: auto;
}

section#ruby h2 {
  color: #A72D3A;
}

#computador {
  
  float: left;
  margin-top: 0px;
  margin-right: 30px;
}

#texto {
text-align: justify;
  padding-bottom: 0px;
  margin-right: 70px;
}

/*
========================================================
FORMATAÇÃO DAS FERRAMENTAS E SUAS RESPECTIVAS SECTIONS*/

.ferramentas {
  border: 1px solid gray;
  margin:0;
  width: 20%;
  float: left;

}

.imagem {
  background-color: #D2563F;
  
  text-align: center;
  height: 220px;
  color: white;
  margin-bottom: 15px;
  padding: 0;
}

.texto_generico {
  text-align: center;
  
  margin-bottom: 10px;
  padding: 0;
}

.estudar_agora {
 text-align: center;
color: white;
 background-color: #FB7C00;
  padding-top: 5px;
  padding-bottom: 5px;
  
  
}
/*
=========================================
Outras Formatações
*/
img#aa {
  -webkit-animation:spin 1s linear infinite;
  -moz-animation:spin 1s linear infinite;
  animation:spin 1s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg);} }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }