
body {
  font-family: 'Montserrat', sans-serif;
  background_color: skyblue;
  margin: 0;
}

#back

header {
  background_color: skyblue;
}

#teste {
 height: 125px;
  background: black;
  opacity: 0.5;
}