
/*  */
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

img.bg {
  max-width:100%;
  height: auto;
}

nav {
  position: fixed;
  top: 0;
  background: rgba(0,0,0,.5);
  padding: 50px;
  width: 100%;
}

nav img {
  
}

ul#navegacao {
  list-style: none;
}

.menu {
  display: inline;
  font-size: 18pt;
  color: grey;
}

.menu:hover {
  color: lime;
}

header {
  font-size: 40pt;
  background-image: url("https://cdn.glitch.com/ae3dc6e7-a56a-4b8d-a6c2-6380127472f4%2Fbanner.jpg?1522797817548");
  text-align: center;
  padding: 200px;
  color: white;
  text-shadow: 2px 2px 2px black;
}

#header-img {
  padding: 5px;
}

section {

}

footer {

}




#background {
  
}